<template name="faq">
  
  <div id="faq" class="row faq-block">
    <h3 class="text-center text-muted">So you got questions?</h3>
    <h6 class="text-center text-muted">
      <button class="btn btn-primary get-answers">Get the answers</button>
    </h6>
    <div class="container faq-container">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fa fa-question-circle fa-1x"></i>
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                What is Project Velan?
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              Project is an ecosystem where community and developers come together to Transform Agriculture industry using Technology
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fa fa-question-circle fa-1x"></i>
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
                Who are the target customers?
              </a>
            </h4>
          </div>
          <div id="collapseTen" class="panel-collapse collapse">
            <div class="panel-body">
            Local farmer community in agricultural area.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <i class="fa fa-question-circle fa-1x"></i>
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
                Why is our Project Free?
              </a>
            </h4>
          </div>
          <div id="collapseEleven" class="panel-collapse collapse">
            <div class="panel-body">
              We are developing a ecosystem where every user has the right to use, modify and share based on their need and requirement. 
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</template>
