.login-container{
  margin-top: 10%;
}
.app-navbar{
  background-color: #333 !important;
  a{
    color: #fff !important;
  }
  a:hover{
    opacity: 0.8;
  }

}
.btn-main{
  background-color: #fefefe;
  border-color: #fefefe;
  padding: 20px 40px;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #65490e;
  &:hover{
    color: #65490e;
    opacity: 0.9;
  }
}


.app-navbar .nav li a {
  color: #fff;
}
