<template name="ApplicationLayout">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Velan</title>
    <meta name="description" content="">
    <meta name='keywords' content=''>
    <meta name="author" content=""/>
    <meta name='url' content=''>
    <meta name='date' content=''>
    <meta name='search_date' content=''>
    <meta name='subject' content=''>
    <meta name='coverage' content='Worldwide'>
    <meta name='distribution' content='Global'>
    <!-- Bootstrap Core CSS -->

    <link rel="icon" type="image/x-icon" href="logo.png">

  </head>
  {{> yield}} 
</template>
