<template name="build">
  <!-- About Section -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center syllabus-block">
          <h2 class="section-heading">Build</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum</h3>
          <h5 class="section-subheading text-muted">Use our tool to help the farmer community</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <!--<h3 class="timeline-date"></h3>-->
                <img class="timeline-icon img-responsive" src="/Install.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Step 1</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                  </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="timeline-icon img-responsive" src="/Access-data.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Step 2</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="timeline-icon img-responsive" src="/sync-with-cloud.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Step 3</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    </p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="timeline-icon img-responsive" src="/automate.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="subheading">Step 4</h4>
                </div>
                <div class="timeline-body">

              </div>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
</template>
