<template name="projects">
  
  <div id="venue" class="row well venue">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center text-muted">Get SMS Notifications</h2>
        <h5 class="text-center text-muted">You don't need a smart phone</h5>
        <div class="  col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
          <img src="/product2.jpg" height="280" width="" class="img-responsive" alt="" style="margin: auto;">
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h2 class="text-center text-muted">Android app</h2>
        <h5 class="text-center text-muted">
          <a href="">Download</a> 
          to automate the irrigation </h5>
        <h6 class="text-center text-muted">
          Never trust any software without
          <a href="" target="_blank">Source Code</a>
        </h6>
        <a href="https://projects.invisionapp.com/share/8J3YJX5HU#/screens/97142896" target="_blank">
          <img src="/product1.jpg" height="280" class="img-responsive" alt="" style="margin: auto;">
        </a>
      </div>
    </div>
  </div>
</template>
