<template name="testimonials">
  <!-- Portfolio Grid Section -->
  <section id="portfolio" class="bg-light-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Our Happy Farmers</h2>
          <!--<h3 class="section-subheading text-muted">You get to learn the cutting edge technologies from the industry experts</h3>-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="" target="_blank" class="portfolio-link" data-toggle="modal">
            <img src="/velan.jpg" height="280" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Kathamuthu</h4>
            <p class="text-muted">Madhagupatti</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="" target="_blank" class="portfolio-link" data-toggle="modal">
            <img src="/velan.jpg" height="280" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Pal pandy</h4>
            <p class="text-muted">UthanKulam</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="" target="_blank" class="portfolio-link" data-toggle="modal">
            <img src="/velan.jpg" height="280" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Muthaiya</h4>
            <p class="text-muted">Kumili</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="" target="_blank" class="portfolio-link" data-toggle="modal">
            <img src="/velan.jpg" height="280" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Muthamma</h4>
            <p class="text-muted">Chengalpattu</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="" target="_blank" class="portfolio-link" data-toggle="modal">
            <img src="/velan.jpg" height="280" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Anbarasu</h4>
            <p class="text-muted">Pappanayakkan patti</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a href="" target="_blank" class="portfolio-link" data-toggle="">
            <img src="/velan.jpg" height="280" class="img-responsive" alt="">
          </a>
          <div class="portfolio-caption">
            <h4>Chellathaiyi</h4>
            <p class="text-muted">Solaiyur</p>
          </div>
        </div>
      </div>
      <div class="row">
        <h2 class="text-center">and millions of farmer around the nation.</h2>
      </div>
    </div>
  </section>
</template>
